<%= form_for(@athlete) do |f| %>
  <% if @athlete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@athlete.errors.count, "error") %> prohibited this athlete from being saved:</h2>

      <ul>
      <% @athlete.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, [['Male', 'male'],['Female','female']], { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.select :state, us_states, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :high_school %><br />
    <%= f.text_field :high_school %>
  </div>
  <div class="field">
    <%= f.label :graduation_year %><br />
    <%= f.number_field :graduation_year %>
  </div>
	<br>
  <h3>Individual Accomplishments</h3>
	<br>
  <div class="field">
    <%= f.check_box :all_american %> <%= f.label :all_american %> 
  </div>
  <div class="field">
   <%= f.check_box :all_state %> <%= f.label :all_state %> 
  </div>
  <div class="field">
    <%= f.check_box :all_division %> <%= f.label :all_division %> 
  </div>
	<br>
  <h3>Team Accomplishments</h3>
	<br>
  <div class="field">
   <%= f.check_box :state_champions %> <%= f.label :state_champions %> 
  </div>
  <div class="field">
    <%= f.check_box :conference_champions %> <%= f.label :conference_champions %> 
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Create Athlete", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
