<div class="container span8" id="queryscrollbox">
	<ul class="results">
		<li><%= check_box_tag("Alabama") %> <%= label_tag("Alabama") %> </li>
		<li><%= check_box_tag("Alaska") %> <%= label_tag("Alaska") %> </li>
		<li><%= check_box_tag("Arizona") %> <%= label_tag("Arizona") %> </li>
		<li><%= check_box_tag("Arkansas") %> <%= label_tag("Arkansas") %> </li>
		<li><%= check_box_tag("California") %> <%= label_tag("California") %> </li>
		<li><%= check_box_tag("Colorado") %> <%= label_tag("Colorado") %> </li>
		<li><%= check_box_tag("Connecticut") %> <%= label_tag("Connecticut") %> </li>
		<li><%= check_box_tag("Delaware") %> <%= label_tag("Delaware") %> </li>
		<li><%= check_box_tag("District of Columbia") %> <%= label_tag("D.C.") %> </li>
		<li><%= check_box_tag("Florida") %> <%= label_tag("Florida") %> </li>
		<li><%= check_box_tag("Georgia") %> <%= label_tag("Georgia") %> </li>
		<li><%= check_box_tag("Hawaii") %> <%= label_tag("Hawaii") %> </li>
		<li><%= check_box_tag("Idaho") %> <%= label_tag("Idaho") %> </li>
		<li><%= check_box_tag("Illinois") %> <%= label_tag("Illinois") %> </li>
		<li><%= check_box_tag("Indiana") %> <%= label_tag("Indiana") %> </li>
		<li><%= check_box_tag("Iowa") %> <%= label_tag("Iowa") %> </li>
		<li><%= check_box_tag("Kansas") %> <%= label_tag("Kansas") %> </li>
		<li><%= check_box_tag("Kentucky") %> <%= label_tag("Kentucky") %> </li>
		<li><%= check_box_tag("Louisiana") %> <%= label_tag("Louisiana") %> </li>
		<li><%= check_box_tag("Maine") %> <%= label_tag("Maine") %> </li>
		<li><%= check_box_tag("Maryland") %> <%= label_tag("Maryland") %> </li>
		<li><%= check_box_tag("Massachusetts") %> <%= label_tag("Massachusetts") %> </li>
		<li><%= check_box_tag("Michigan") %> <%= label_tag("Michigan") %> </li>
		<li><%= check_box_tag("Minnesota") %> <%= label_tag("Minnesota") %> </li>
		<li><%= check_box_tag("Mississippi") %> <%= label_tag("Mississippi") %> </li>
		<li><%= check_box_tag("Missouri") %> <%= label_tag("Missouri") %> </li>
		<li><%= check_box_tag("Montana") %> <%= label_tag("Montana") %> </li>
		<li><%= check_box_tag("Nebraska") %> <%= label_tag("Nebraska") %> </li>
		<li><%= check_box_tag("Nevada") %> <%= label_tag("Nevada") %> </li>
		<li><%= check_box_tag("New Hampshire") %> <%= label_tag("New Hampshire") %> </li>
		<li><%= check_box_tag("New Jersey") %> <%= label_tag("New Jersey") %> </li>
		<li><%= check_box_tag("New Mexico") %> <%= label_tag("New Mexico") %> </li>
		<li><%= check_box_tag("New York") %> <%= label_tag("New York") %> </li>
		<li><%= check_box_tag("North Carolina") %> <%= label_tag("North Carolina") %> </li>
		<li><%= check_box_tag("North Dakota") %> <%= label_tag("North Dakota") %> </li>
		<li><%= check_box_tag("Ohio") %> <%= label_tag("Ohio") %> </li>
		<li><%= check_box_tag("Oklahoma") %> <%= label_tag("Oklahoma") %> </li>
		<li><%= check_box_tag("Oregon") %> <%= label_tag("Oregon") %> </li>
		<li><%= check_box_tag("Pennsylvania") %> <%= label_tag("Pennsylvania") %> </li>
		<li><%= check_box_tag("Rhode Island") %> <%= label_tag("Rhode Island") %> </li>
		<li><%= check_box_tag("South Carolina") %> <%= label_tag("South Carolina") %> </li>
		<li><%= check_box_tag("South Dakota") %> <%= label_tag("South Dakota") %> </li>
		<li><%= check_box_tag("Tennessee") %> <%= label_tag("Tennessee") %> </li>
		<li><%= check_box_tag("Texas") %> <%= label_tag("Texas") %> </li>
		<li><%= check_box_tag("Utah") %> <%= label_tag("Utah") %> </li>
		<li><%= check_box_tag("Vermont") %> <%= label_tag("Vermont") %> </li>
		<li><%= check_box_tag("Virginia") %> <%= label_tag("Virginia") %> </li>
		<li><%= check_box_tag("Washington") %> <%= label_tag("Washington") %> </li>
		<li><%= check_box_tag("West Virginia") %> <%= label_tag("West Virginia") %> </li>
		<li><%= check_box_tag("Wisconsin") %> <%= label_tag("Wisconsin") %> </li>
		<li><%= check_box_tag("Wyoming") %> <%= label_tag("Wyoming") %> </li>
	</ul>
</div>