<% provide(:title, 'Athlete Profile') %>
<% provide(@athlete.full_name) %>

<div class="row-fluid" "span12">
	<div class="span2">
		<p>
		</p>
	</div>

	<div class="span3">
		<h3>
		  <%= @athlete.full_name %>
		</h3>

			<p>
			  Class of <%= @athlete.graduation_year %>
			</p>

			<p>
			  <%= @athlete.high_school %>
			</p>

			<p>
			  <%= @athlete.city %>, <%= @athlete.state %>
			</p>

			<p>
			  Height: <%= @athlete.height_feet%>'<%= @athlete.height_inches%>" 
			</p>

			<p>
			  Weight: <%= @athlete.weight %>
			</p>

			<p>
			  GPA: <%= @athlete.gpa %>
			</p>

			<p>
			  SAT: <%= @athlete.sat %>
			</p>

			<p>
			  ACT: <%= @athlete.act %>
			</p>

			<p>
			  Class Rank: <%= @athlete.class_rank %>
			</p>
	</div>

	<div class="span4">
		<p>
		</p>
	</div>
</div>

<div class="row-fluid">
	<div class="tabbable span9">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#feed" data-toggle="tab">Feed</a></li>
			<li><a href="#stats" data-toggle="tab">Stats (Coming Soon!)</a></li>
			<li><a href="#videos" data-toggle="tab">Videos (Coming Soon!)</a></li>
			<li><a href="#colleges" data-toggle="tab">Colleges (Coming Soon!)</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="feed">
				<%= render 'feed'%>
			</div>
			<div class="tab-pane" id="stats">
				<h4>Stats</h4>
				<p>Content for the stats tab.</p>
			</div>
			<div class="tab-pane" id="videos">
				<h4>Videos</h4>
				<p>Content for the video tab.</p>
			</div>
			<div class="tab-pane" id="colleges">
				<h4>Colleges</h4>
				<p>Content for the colleges tab.</p>
			</div>
		</div>
	</div>
</div>
