<% provide(:title, 'Athlete Profile') %>
<<<<<<< HEAD
<% provide(@athlete.full_name) %>

<p id="notice"><%= notice %></p>

<div class="row-fluid" "span12">
	<div class="span2">
		<p>
		</p>
	</div>

	<div class="span3">
		<h3>
		  <%= @athlete.full_name %>
		</h3>

			<p>
			  Class of <%= @athlete.graduation_year %>
			</p>

			<p>
			  <%= @athlete.high_school %>
			</p>

			<p>
			  <%= @athlete.city %>, <%= @athlete.state %>
			</p>

			<p>
			  Height: <%= @athlete.height_feet%>'<%= @athlete.height_inches%>" 
			</p>

			<p>
			  Weight: <%= @athlete.weight %>
			</p>

			<p>
			  GPA: <%= @athlete.gpa %>
			</p>

			<p>
			  SAT: <%= @athlete.sat %>
			</p>

			<p>
			  ACT: <%= @athlete.act %>
			</p>

			<p>
			  Class Rank: <%= @athlete.class_rank %>
			</p>
	</div>

	<div class="span4">
		<p>
		</p>
	</div>
</div>

<div class="row-fluid" "span12">
		<div class="span4" "container">
			<div>
			    <%= render 'shared/stats' %>
			</div>
			<div>	
				<%= render '/shared/micropost_form' %>
			</div>
		</div>
		<div class="span8" "container">
				<div>
					<%= render 'follow_form'%>
				</div>
			      <h3>Micropost Feed</h3>
			      <%= render '/shared/feed' %>
		</div>
	</ul>
</div>
=======

<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @athlete.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @athlete.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @athlete.gender %>
</p>

<p>
  <b>City:</b>
  <%= @athlete.city %>
</p>

<p>
  <b>State:</b>
  <%= @athlete.state %>
</p>

<p>
  <b>High school:</b>
  <%= @athlete.high_school %>
</p>

<p>
  <b>Graduation year:</b>
  <%= @athlete.graduation_year %>
</p>

<p>
  <b>All american:</b>
  <%= @athlete.all_american %>
</p>

<p>
  <b>All state:</b>
  <%= @athlete.all_state %>
</p>

<p>
  <b>All division:</b>
  <%= @athlete.all_division %>
</p>

<p>
  <b>State champions:</b>
  <%= @athlete.state_champions %>
</p>

<p>
  <b>Conference champions:</b>
  <%= @athlete.conference_champions %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
>>>>>>> 5b8afc67183b26786e60a3c658bc64b97ea23e02
